<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Google Device</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

        html,
        body {
            height: 100%;
        }

        /* body {
            background-image: linear-gradient(to right top, #ffcece, #fed7df, #fce1ec, #faebf6, #faf4fc, #f9f5fd, #f8f5fe, #f7f6ff, #f1efff, #eae8ff, #e4e1ff, #dddaff);
            background-repeat: no-repeat;
        } */

        .main-header {
            box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url(https://cdn.pixabay.com/photo/2016/05/11/13/20/keyboard-1385706_1280.jpg) !important;
        }

        a.page-link {
            color: black;
        }

        .active a.page-link {
            background: rgb(2, 2, 2);
            border-color: black;
        }

        * {
            font-family: "Ubuntu", sans-serif;
        }

        #add-item {
            position: absolute;
            right: 50px;
        }

        #table {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            border-collapse: collapse;
        }

        #table th,
        #table td {
            text-align: center;
            vertical-align: middle;
        }

        #column-status {
            width: 40px;
        }

        img.rounded-circle {
            border: 2px solid white;
        }

        #searchbar {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        #truebutton {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        #falsebutton {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }

        .page-item {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }

        #column-delete {
            width: 30px;
        }
    </style>
</head>


<body>
    <!--header-->
    <div class="main-header mb-2 bg-light" id="main">
        <div class="d-flex flex-row">
            <div class="p-2 w-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiEndPkpxU-FDOQK0acJ6iuFECTI914xOelQ&s"
                    class="rounded-pill" alt="LOGO" width="140" height="60">
            </div>
            <div class="p-2 flex-shrink-1 d-flex flex-row align-items-center me-5">
                <span class="badge fs-5 text-white text-decoration-underline">Bentornato Utente</span>
                <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ruben Poggiani">
                    <img src="https://www.keblog.it/wp-content/uploads/2017/10/foto-divertenti-animali-buffi-01.jpg"
                        class="rounded-circle ms-2" alt="USER" width="60" height="60">
                </a>
            </div>
        </div>
    </div>


    <!--testo sotto l'header-->
    <div class="container">
        <h1 id="title" class="text display-1 text-dark text-center">
            GOOGLE DEVICE
        </h1>
    </div>


    <!--barra di ricerca-->
    <div id="app" class="p-5">
        <div class="d-flex mb-3 align-items-center">
            <input type="text" id="searchbar" v-model="search" class="form-control me-2" placeholder="Search by name"
                style="width: 260px; height: 35px">

            <!-- bottoni filtri -->
            <div class="btn-group">
                <input type="checkbox" v-model="connected" @change="statusTrigger" class="btn-check" id="btncheck1">
                <label class="btn btn-outline-success" id="truebutton" for="btncheck1">Connected</label>
                <input type="checkbox" v-model="disconnected" @change="statusTrigger" class="btn-check" id="btncheck2">
                <label class="btn btn-outline-danger" id="falsebutton" for="btncheck2">Disconnected</label>
            </div>

            <!-- bottone per aggiungere elementi -->
            <i type="button" id="add-item" class="fa-solid fa-circle-plus fa-lg" style="color: #005eff;"></i>
        </div>


        <!-- Modale -->
        <div class="modal fade" id="addItemModal" aria-labelledby="addItemModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addItemModalLabel">Add New Device</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form nuovo device -->
                        <form id="addDeviceForm" @submit.prevent="addDevice">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" v-model="newDevice.name" required>
                            </div>
                            <div class="mb-3">
                                <label for="vehicle" class="form-label">Vehicle</label>
                                <input type="text" class="form-control" id="vehicle" v-model="newDevice.vehicle"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="status" class="form-label">Status</label>
                                <select class="form-select" id="status" v-model="newDevice.status" required>
                                    <option value="connected">Connected</option>
                                    <option value="disconnected">Disconnected</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="battery" class="form-label">Battery (%)</label>
                                <input type="number" class="form-control" id="battery" v-model="newDevice.battery"
                                    min="0" max="100" required>
                            </div>
                            <!-- bottone per aggiungere elementi -->
                            <button type="submit" class="btn btn-primary">Add Device</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--tabella dati-->
        <table id="table" class="table table-bordered border-primary table-striped table-hover">
            <thead>
                <tr>
                    <th data-field="name" class="bg-dark">
                        <span class="text-white text-uppercase">name:</span>
                    </th>
                    <th data-field="vehicle" class="bg-dark">
                        <span class="text-white text-uppercase">vehicle:</span>
                    </th>
                    <th data-field="status" id="column-status" class="bg-dark">
                        <span class="text-white text-uppercase">status:</span>
                    </th>
                    <th data-field="battery" class="bg-dark">
                        <span class="text-white text-uppercase">battery:</span>
                    </th>
                    <th class="bg-dark" id="column-delete"></th>
                </tr>
            </thead>


            <!--compilazione righe tabella-->
            <tbody>
                <tr v-for="dispositivo in paginatedDispositivi" :key="dispositivo._id">
                    <td>{{ dispositivo.name }}</td>
                    <td>{{ dispositivo.vehicle }}</td>
                    <td>
                        <span v-if="dispositivo.status === 'connected'">
                            <i class="fa-solid fa-circle-check fa-xl" title="connected" style="color: #19df16;"></i>
                        </span>
                        <span v-else>
                            <i class="fa-solid fa-circle-xmark fa-xl" title="disconnected" style="color: #ff0000;"></i>
                        </span>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                :class="{'bg-danger': dispositivo.battery < 25, 'bg-warning': dispositivo.battery >= 25 && dispositivo.battery < 75, 'bg-success': dispositivo.battery >= 75}"
                                :style="{ width: dispositivo.battery + '%' }" :aria-valuenow="dispositivo.battery"
                                aria-valuemin="0" aria-valuemax="100">
                                {{ dispositivo.battery }}%
                            </div>
                        </div>
                    </td>
                    <td>
                        <button class="btn" id="deletebutton" @click="deleteDevice(dispositivo._id)">
                            <i class="fa-regular fa-trash-can fa-lg" style="color: #ff0000;"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- impaginazione -->
        <ul id="impagination" class="pagination pagination-sm justify-content-end">
            <li class="page-item" :class="{ disabled: currentPage === 1 }">
                <a class="page-link" href="#" @click.prevent="currentPage--"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item" v-for="page in totalPages" :key="page" :class="{ active: currentPage === page }">
                <a class="page-link" href="#" @click.prevent="currentPage = page">{{ page }}</a>
            </li>
            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                <a class="page-link" href="#" @click.prevent="currentPage++"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>

        <!-- testo in fondo alla pagina -->
        <h6 class="text-muted text-center">
            Questa è una tabella che serve per visualizzare i dispositivi aziendali. La tabella è divisa in 4 colonne
            dove si possono vedere: nella prima colonna il nome del dispositivo, nella seconda colonna il numero di
            serie, nella terza colonna se il dispositivo è connesso o meno e in fine nell'ultima colonna si vede lo
            stato della batteria di ogni dispositivo.
        </h6>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    dispositivi: [],
                    search: '',
                    connected: false,
                    disconnected: false,
                    perPage: 10,
                    currentPage: 1,
                    newDevice: {
                        name: '',
                        vehicle: '',
                        status: 'connected',
                        battery: 0
                    }
                };
            },

            computed: {
                // filtro dispositivi
                filteredDispositivi() {
                    return this.dispositivi.filter(dispositivo => {
                        // Verifica se 'dispositivo' ha la proprietà 'name'
                        if (dispositivo && dispositivo.name) {
                            const nameMatch = dispositivo.name.toLowerCase().includes(this.search.toLowerCase());
                            const statusMatch = (!this.connected || dispositivo.status === 'connected') && (!this.disconnected || dispositivo.status !== 'connected');
                            const showAll = this.connected && this.disconnected;
                            return (nameMatch && statusMatch) || showAll;
                        } else {
                            return false;
                        }
                    });
                },

                // impaginazione dei dispositivi per pagina
                paginatedDispositivi() {
                    const start = (this.currentPage - 1) * this.perPage;
                    const end = start + this.perPage;
                    return this.filteredDispositivi.slice(start, end);
                },

                // numero pagine
                totalPages() {
                    return Math.ceil(this.filteredDispositivi.length / this.perPage);
                }
            },

            watch: {
                search() {
                    this.currentPage = 1;
                }
            },

            mounted() {
                this.fetchDevices();
            },

            methods: {
                // recupera i dispositivi
                fetchDevices(status = '') {
                    let url = 'http://localhost:3000/devices';
                    if (status) {
                        url += `?status=${status}`;
                    }
                    axios.get(url)
                        .then(response => {
                            this.dispositivi = response.data.data;
                        })
                        .catch(error => console.log(error));
                },

                // filtro per i dispositivi
                statusTrigger() {
                    const connected = this.connected;
                    const disconnected = this.disconnected;
                    let status = '';
                    if (connected && !disconnected) {
                        status = connected;
                    } else if (!connected && disconnected) {
                        status = 'disconnected';
                    }
                    this.fetchDevices(status);
                    this.currentPage = 1;
                },

                // aggiunge i dispositivi
                addDevice() {
                    axios.post('http://localhost:3000/devices', this.newDevice)
                        .then(response => {
                            this.dispositivi.push(response.data.data);
                            this.newDevice = { name: '', vehicle: '', status: 'connected', battery: 0 };
                            const addItemModal = new bootstrap.Modal(document.getElementById('addItemModal'));
                            this.$addItemModal.hide();
                            this.fetchDevices();
                        })
                        .catch(error => {
                            console.error(error);
                        });
                },
                // elimina i dispositivi
                deleteDevice(deviceId) {
                    axios.delete(`http://localhost:3000/devices/${deviceId}`)
                        .then(response => {
                            this.dispositivi = this.dispositivi.filter(device => device._id !== deviceId);
                            if (this.currentPage > this.totalPages) {
                                this.currentPage = this.totalPages;
                            }
                        })
                        .catch(error => console.error(error));
                }
            }
        });
        
        // visualizza il modale
        document.addEventListener('DOMContentLoaded', function () {
            const addItemButton = document.getElementById('add-item');
            const addItemModal = new bootstrap.Modal(document.getElementById('addItemModal'));
            addItemButton.addEventListener('click', function () {
                addItemModal.show();
            });
            app.config.globalProperties.$addItemModal = addItemModal;
        });

        app.mount('#app');
    </script>
</body>

</html>